#
# WLST script to create a basic domain and admin server.
#
# Templated for Ansible
#
# Steve.Taylor@cu.edu Mar-2016
#

print('Load the basic template')
selectTemplate('Basic WebLogic Server Domain')
loadTemplates()

print('Create the admin server')
cd('/Servers/AdminServer')
cmo.setListenAddress('{{ ansible_hostname }}')
set('ListenPort', 7001)
set('WeblogicPluginEnabled', true)

print('Create the SSL side')
create('AdminServer','SSL')
cd('SSL/AdminServer')
set('Enabled', 'True')
set('ListenPort', 7002)

print('Set the username/password')
cd('/Security/base_domain/User/weblogic')
cmo.setPassword('{{ weblogic_password }}')

print('Set options')
setOption('JavaHome', '/usr/java/latest')
setOption('OverwriteDomain', 'true')
setOption('ServerStartMode','prod')
setOption('OverwriteDomain', 'true')

print('Write the domain')
writeDomain('{{ domain_home }}')
closeTemplate()

print('Finalize the admin server')
readDomain('{{ domain_home }}')
updateDomain()
closeDomain()

print('Start admin server')
startServer('AdminServer','{{ domain_name }}','t3://{{ ansible_hostname }}:7001','weblogic','{{ weblogic_password }}','{{ domain_home }}')

exit()
